/* DAY 2 */
#color{
    color: #F0F0F0;
}
.yellow-color{
    color: #FFF000;
}
.fontsize{
    font-size: 20px;
}
#font{
    color: #000;
}
.container{
    width: 1170px;
    height: auto;
    margin: 0 auto;
}
.container .header{
    width: 1170px;
    height: 200px;
    background-color: red;
}
.container .contentrow{
    width: 1170px;
    height: auto;
}
.container .contentrow .content1{
    width: 670px;
    height: 200px;
    background-color: black;
    float: left;
}
.container .contentrow .content2{
    width: 200px;
    height: 200px;
    background-color: grey;
    float: left;
}
.container .contentrow .content3{
    width: 300px;
    height: 200px;
    background-color: green;
    float: left;
}
.container .contentrow2{
    width: 1170px;
    height: auto;
}
.container .contentrow2 .content4{
    width: 870px;
    height: 200px;
    background-color: pink;
    float: left;
}
.container .contentrow2 .content5{
    width: 300px;
    height: 200px;
    background-color: brown;
    float: left;
}